---
version: 2
interactions:
    - id: 0
      request:
        host: tlxbprqlwess6y.vault.azure.net
        body: ""
        form: {}
        headers:
            Authorization:
                - sanitized
        url: https://tlxbprqlwess6y.vault.azure.net/keys/rsa2048/?api-version=7.4
        method: GET
      response:
        body: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing a Bearer or PoP token."}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Www-Authenticate:
                - Bearer authorization="https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47", resource="https://vault.azure.net"
        status: 401 Unauthorized
        code: 401
        duration: 41.508502ms
[...]
    - id: 2
      request:
        host: tlxbprqlwess6y.vault.azure.net
        body: '{"alg":"RSA-OAEP-256","value":"cGxhaW50ZXh0"}'
        form: {}
        headers:
            Authorization:
                - sanitized
            Content-Type:
                - application/json
        url: https://tlxbprqlwess6y.vault.azure.net/keys/rsa2048/encrypt?api-version=7.4
        method: POST
      response:
        body: '{"kid":"https://tlxbprqlwess6y.vault.azure.net/keys/rsa2048/2a2225c34b1142289cb1b96adfd9fa63","value":"B6JkovHFKo5DtQOB4Iky7tCdVnjohNJg3CuuECOFf1aeoMIvuxh13PWXVA3uLByM9weEVM1m5O_WJfX3CnfmiCZ58CEOUnwsaMGoLxSeiw0XNwjmKSR3MigX4yBv74WZEAMD6OzpmbliPfSLBn9-SrKtqumENyece8xnC_WdYlVqsPVsJ8OznfPGkwa-oXqXndXuOamoX_ilOCHeCJi6GMBmWeylGX0tZrE55fGETer2HJRzrjNSx1clyDcP9jrB6xTUsk3KT2c87-OvAr-psgkVDCCGIdhrmyDspL04RpT2I0nKN-ZAheA7RKjmY1JKz_J3cc9kARMPZBWTPf44mA"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 47.23386ms
    - id: 3
      request:
        host: tlxbprqlwess6y.vault.azure.net
        body: '{"alg":"RSA-OAEP-256","value":"B6JkovHFKo5DtQOB4Iky7tCdVnjohNJg3CuuECOFf1aeoMIvuxh13PWXVA3uLByM9weEVM1m5O_WJfX3CnfmiCZ58CEOUnwsaMGoLxSeiw0XNwjmKSR3MigX4yBv74WZEAMD6OzpmbliPfSLBn9-SrKtqumENyece8xnC_WdYlVqsPVsJ8OznfPGkwa-oXqXndXuOamoX_ilOCHeCJi6GMBmWeylGX0tZrE55fGETer2HJRzrjNSx1clyDcP9jrB6xTUsk3KT2c87-OvAr-psgkVDCCGIdhrmyDspL04RpT2I0nKN-ZAheA7RKjmY1JKz_J3cc9kARMPZBWTPf44mA"}'
        form: {}
        headers:
            Authorization:
                - sanitized
            Content-Type:
                - application/json
        url: https://tlxbprqlwess6y.vault.azure.net/keys/rsa2048/decrypt?api-version=7.4
        method: POST
      response:
        body: '{"kid":"https://tlxbprqlwess6y.vault.azure.net/keys/rsa2048/2a2225c34b1142289cb1b96adfd9fa63","value":"cGxhaW50ZXh0"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 55.952782ms
