---
version: 2
interactions:
    - id: 0
      request:
        host: tlxbprqlwess6y.vault.azure.net
        body: ""
        form: {}
        headers:
            Authorization:
                - sanitized
        url: https://tlxbprqlwess6y.vault.azure.net/keys/rsa2048/?api-version=7.4
        method: GET
      response:
        body: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing a Bearer or PoP token."}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Www-Authenticate:
                - Bearer authorization="https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47", resource="https://vault.azure.net"
        status: 401 Unauthorized
        code: 401
        duration: 43.747677ms
[...]
    - id: 2
      request:
        host: tlxbprqlwess6y.vault.azure.net
        body: '{"alg":"RSA-OAEP","value":"cGxhaW50ZXh0"}'
        form: {}
        headers:
            Authorization:
                - sanitized
            Content-Type:
                - application/json
        url: https://tlxbprqlwess6y.vault.azure.net/keys/rsa2048/encrypt?api-version=7.4
        method: POST
      response:
        body: '{"kid":"https://tlxbprqlwess6y.vault.azure.net/keys/rsa2048/2a2225c34b1142289cb1b96adfd9fa63","value":"D5y9RZLFR4aqseYR57udlrdnKkc5nt1ttDIXXcAOW3J8RyerQbRz6V2h49BeEk0ahkSTZMYoKsjL5d8vODztMpBH0r9I4jVrn_HiMQ4kTrniwhibBab9MrXdP2XPJ2w36-_XNtAVa88qiFdQNVBJgGmfPArPzO-WOKwSPsm6w-o5D842z8xHc-8WXNNRXdvDZnpAfnsOBcrNmD4Jcz5wMZeeP6yFB5he4n3QF-jM-sQtwQP8ZgF8WgpLoS_BVK5WmToZdvi37NAkvb4DvKbKDw6OyLdrwOBAav1CFcajQWcy1vu7WPMJAhqFnBZv4h4KOGZdBwDnf7iU7QoBPLXyIQ"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 55.313136ms
    - id: 3
      request:
        host: tlxbprqlwess6y.vault.azure.net
        body: '{"alg":"RSA-OAEP","value":"D5y9RZLFR4aqseYR57udlrdnKkc5nt1ttDIXXcAOW3J8RyerQbRz6V2h49BeEk0ahkSTZMYoKsjL5d8vODztMpBH0r9I4jVrn_HiMQ4kTrniwhibBab9MrXdP2XPJ2w36-_XNtAVa88qiFdQNVBJgGmfPArPzO-WOKwSPsm6w-o5D842z8xHc-8WXNNRXdvDZnpAfnsOBcrNmD4Jcz5wMZeeP6yFB5he4n3QF-jM-sQtwQP8ZgF8WgpLoS_BVK5WmToZdvi37NAkvb4DvKbKDw6OyLdrwOBAav1CFcajQWcy1vu7WPMJAhqFnBZv4h4KOGZdBwDnf7iU7QoBPLXyIQ"}'
        form: {}
        headers:
            Authorization:
                - sanitized
            Content-Type:
                - application/json
        url: https://tlxbprqlwess6y.vault.azure.net/keys/rsa2048/decrypt?api-version=7.4
        method: POST
      response:
        body: '{"kid":"https://tlxbprqlwess6y.vault.azure.net/keys/rsa2048/2a2225c34b1142289cb1b96adfd9fa63","value":"cGxhaW50ZXh0"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 58.498911ms
