---
version: 2
interactions:
    - id: 0
      request:
        host: tlxbprqlwess6y.vault.azure.net
        body: ""
        form: {}
        headers:
            Authorization:
                - sanitized
        url: https://tlxbprqlwess6y.vault.azure.net/keys/rsa2048/?api-version=7.4
        method: GET
      response:
        body: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing a Bearer or PoP token."}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Www-Authenticate:
                - Bearer authorization="https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47", resource="https://vault.azure.net"
        status: 401 Unauthorized
        code: 401
        duration: 39.492273ms
[...]
    - id: 2
      request:
        host: tlxbprqlwess6y.vault.azure.net
        body: '{"alg":"RSA1_5","value":"cGxhaW50ZXh0"}'
        form: {}
        headers:
            Authorization:
                - sanitized
            Content-Type:
                - application/json
        url: https://tlxbprqlwess6y.vault.azure.net/keys/rsa2048/encrypt?api-version=7.4
        method: POST
      response:
        body: '{"kid":"https://tlxbprqlwess6y.vault.azure.net/keys/rsa2048/2a2225c34b1142289cb1b96adfd9fa63","value":"cxG1KfArsWcU98gpw2YxgRQ1mU0L6-BLz-YBs-hp_tvL--3rG3olbSeMZQJXtF1Wb6JOFnvLwQNTuvKQtpXx79Rcbd5DAnVjMputgAQ9VnkrNABOd84Hyc3CpTHHI_Ns-tKqoXxe3wJKVYsrHOPOUKJrbOm4YbK3Urkk7KALmssldQnfStBJJb3lXEA9l6_snFKhnLGKvp1due4dVdkC12QJtzfBax0Jy5q2rK15zzfOLtZh09esHZCeLQr_aP7B9XwgIyhgFIVvZyawqtmys29VHihZKKM6I09DQQgEBjlPjPLzF_upszUVhUtx70cxmoLsbFsKq-RXm6GYp9SGrA"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 55.812454ms
    - id: 3
      request:
        host: tlxbprqlwess6y.vault.azure.net
        body: '{"alg":"RSA1_5","value":"cxG1KfArsWcU98gpw2YxgRQ1mU0L6-BLz-YBs-hp_tvL--3rG3olbSeMZQJXtF1Wb6JOFnvLwQNTuvKQtpXx79Rcbd5DAnVjMputgAQ9VnkrNABOd84Hyc3CpTHHI_Ns-tKqoXxe3wJKVYsrHOPOUKJrbOm4YbK3Urkk7KALmssldQnfStBJJb3lXEA9l6_snFKhnLGKvp1due4dVdkC12QJtzfBax0Jy5q2rK15zzfOLtZh09esHZCeLQr_aP7B9XwgIyhgFIVvZyawqtmys29VHihZKKM6I09DQQgEBjlPjPLzF_upszUVhUtx70cxmoLsbFsKq-RXm6GYp9SGrA"}'
        form: {}
        headers:
            Authorization:
                - sanitized
            Content-Type:
                - application/json
        url: https://tlxbprqlwess6y.vault.azure.net/keys/rsa2048/decrypt?api-version=7.4
        method: POST
      response:
        body: '{"kid":"https://tlxbprqlwess6y.vault.azure.net/keys/rsa2048/2a2225c34b1142289cb1b96adfd9fa63","value":"cGxhaW50ZXh0"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 55.320631ms
