---
version: 2
interactions:
    - id: 0
      request:
        host: tlxbprqlwess6y.vault.azure.net
        body: ""
        form: {}
        headers:
            Authorization:
                - sanitized
            Content-Type:
                - application/json
        url: https://tlxbprqlwess6y.vault.azure.net/keys/ec256/sign?api-version=7.4
        method: POST
      response:
        body: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing a Bearer or PoP token."}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Www-Authenticate:
                - Bearer authorization="https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47", resource="https://vault.azure.net"
        status: 401 Unauthorized
        code: 401
        duration: 40.19188ms
    - id: 1
      request:
        host: tlxbprqlwess6y.vault.azure.net
        body: '{"alg":"ES256","value":"ltYuKr0-Qt5fUDMPuO_ExVmYNSeAd7IemqCzPB3wehw"}'
        form: {}
        headers:
            Authorization:
                - sanitized
            Content-Type:
                - application/json
        url: https://tlxbprqlwess6y.vault.azure.net/keys/ec256/sign?api-version=7.4
        method: POST
      response:
        body: '{"kid":"https://tlxbprqlwess6y.vault.azure.net/keys/ec256/79b3381e0dc94a30be9efdf607c54d50","value":"4oLiZebtFcCYxKnSk2j-omIGQXXJXaI58sXlZZKYjXHeTBUwGROiXghBOPJl1uPSaPTZBc0x1jDU0eN_UCfbcw"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 51.027115ms
    - id: 2
      request:
        host: tlxbprqlwess6y.vault.azure.net
        body: ""
        form: {}
        headers:
            Authorization:
                - sanitized
        url: https://tlxbprqlwess6y.vault.azure.net/keys/ec256/?api-version=7.4
        method: GET
      response:
        body: '{"error":{"code":"Forbidden"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: Forbidden
        code: 403
        duration: 51.98034ms
    - id: 3
      request:
        host: tlxbprqlwess6y.vault.azure.net
        body: '{"alg":"ES256","digest":"ltYuKr0-Qt5fUDMPuO_ExVmYNSeAd7IemqCzPB3wehw","value":"4oLiZebtFcCYxKnSk2j-omIGQXXJXaI58sXlZZKYjXHeTBUwGROiXghBOPJl1uPSaPTZBc0x1jDU0eN_UCfbcw"}'
        form: {}
        headers:
            Authorization:
                - sanitized
            Content-Type:
                - application/json
        url: https://tlxbprqlwess6y.vault.azure.net/keys/ec256/verify?api-version=7.4
        method: POST
      response:
        body: '{"value":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 50.42827ms
