---
version: 2
interactions:
    - id: 0
      request:
        host: tlxbprqlwess6y.vault.azure.net
        body: ""
        form: {}
        headers:
            Authorization:
                - sanitized
            Content-Type:
                - application/json
        url: https://tlxbprqlwess6y.vault.azure.net/keys/ec384/sign?api-version=7.4
        method: POST
      response:
        body: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing a Bearer or PoP token."}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Www-Authenticate:
                - Bearer authorization="https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47", resource="https://vault.azure.net"
        status: 401 Unauthorized
        code: 401
        duration: 46.284238ms
    - id: 1
      request:
        host: tlxbprqlwess6y.vault.azure.net
        body: '{"alg":"ES384","value":"_CNYrmb1MgeDGzoxyXDPxb942fbON57v_ZbqnA6vNDZs4u4zvj_f_gqzJsj2GY83"}'
        form: {}
        headers:
            Authorization:
                - sanitized
            Content-Type:
                - application/json
        url: https://tlxbprqlwess6y.vault.azure.net/keys/ec384/sign?api-version=7.4
        method: POST
      response:
        body: '{"kid":"https://tlxbprqlwess6y.vault.azure.net/keys/ec384/89d199ba35b7492bb3f503e342551a1e","value":"p1ZK4yvMAWkWjEGApIRhZ1rbwKkqfIExkTgLEHfW1jg6b-9RUy4JppPRnWLr7rQDgkFr6Z4OUTEfzJslM4tfnXH7bkhfO7uVK9ytZgsPomZDpWKMI9XL6j1ysjvfiBBW"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 50.423435ms
    - id: 2
      request:
        host: tlxbprqlwess6y.vault.azure.net
        body: ""
        form: {}
        headers:
            Authorization:
                - sanitized
        url: https://tlxbprqlwess6y.vault.azure.net/keys/ec384/?api-version=7.4
        method: GET
      response:
        body: '{"key":{"kid":"https://tlxbprqlwess6y.vault.azure.net/keys/ec384/89d199ba35b7492bb3f503e342551a1e","kty":"EC","key_ops":["sign","verify"],"crv":"P-384","x":"ucyZ7bAVC2owZ_zIFBmFhLvya-Y08SGKmxt_er3JI4ov4r92HFjTtlmXnC7nnIr0","y":"2rqYGIiRrAp87fvwas4HeRIlTR4VZ3O8JoavBjWlUSwvaRS_V1Y5MHwnjlumg-vL"},"attributes":{"enabled":true,"created":1685587027,"updated":1685587027,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90,"exportable":false}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 50.671986ms
