---
version: 2
interactions:
    - id: 0
      request:
        host: tlxbprqlwess6y.vault.azure.net
        body: ""
        form: {}
        headers:
            Authorization:
                - sanitized
            Content-Type:
                - application/json
        url: https://tlxbprqlwess6y.vault.azure.net/keys/ec384/sign?api-version=7.4
        method: POST
      response:
        body: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing a Bearer or PoP token."}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Www-Authenticate:
                - Bearer authorization="https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47", resource="https://vault.azure.net"
        status: 401 Unauthorized
        code: 401
        duration: 40.944933ms
    - id: 1
      request:
        host: tlxbprqlwess6y.vault.azure.net
        body: '{"alg":"ES384","value":"_CNYrmb1MgeDGzoxyXDPxb942fbON57v_ZbqnA6vNDZs4u4zvj_f_gqzJsj2GY83"}'
        form: {}
        headers:
            Authorization:
                - sanitized
            Content-Type:
                - application/json
        url: https://tlxbprqlwess6y.vault.azure.net/keys/ec384/sign?api-version=7.4
        method: POST
      response:
        body: '{"kid":"https://tlxbprqlwess6y.vault.azure.net/keys/ec384/89d199ba35b7492bb3f503e342551a1e","value":"BsVhgCUdyEloR31hk8qVRKZ680OtvOXmg0RqVzXK2DcW20-aEF2Wzns-e973LQY1vU2Vgtr3Dpakcz9v4lXQ5s2NWJFST8ZeYWQgL1RpePG1rkdUFxdpiKGT_ALr1c_G"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 57.871682ms
    - id: 2
      request:
        host: tlxbprqlwess6y.vault.azure.net
        body: ""
        form: {}
        headers:
            Authorization:
                - sanitized
        url: https://tlxbprqlwess6y.vault.azure.net/keys/ec384/?api-version=7.4
        method: GET
      response:
        body: '{"error":{"code":"Forbidden"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: Forbidden
        code: 403
        duration: 54.630277ms
    - id: 3
      request:
        host: tlxbprqlwess6y.vault.azure.net
        body: '{"alg":"ES384","digest":"_CNYrmb1MgeDGzoxyXDPxb942fbON57v_ZbqnA6vNDZs4u4zvj_f_gqzJsj2GY83","value":"BsVhgCUdyEloR31hk8qVRKZ680OtvOXmg0RqVzXK2DcW20-aEF2Wzns-e973LQY1vU2Vgtr3Dpakcz9v4lXQ5s2NWJFST8ZeYWQgL1RpePG1rkdUFxdpiKGT_ALr1c_G"}'
        form: {}
        headers:
            Authorization:
                - sanitized
            Content-Type:
                - application/json
        url: https://tlxbprqlwess6y.vault.azure.net/keys/ec384/verify?api-version=7.4
        method: POST
      response:
        body: '{"value":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 47.488747ms
