---
version: 2
interactions:
    - id: 0
      request:
        host: tlxbprqlwess6y.vault.azure.net
        body: ""
        form: {}
        headers:
            Authorization:
                - sanitized
            Content-Type:
                - application/json
        url: https://tlxbprqlwess6y.vault.azure.net/keys/ec521/sign?api-version=7.4
        method: POST
      response:
        body: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing a Bearer or PoP token."}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Www-Authenticate:
                - Bearer authorization="https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47", resource="https://vault.azure.net"
        status: 401 Unauthorized
        code: 401
        duration: 42.040151ms
    - id: 1
      request:
        host: tlxbprqlwess6y.vault.azure.net
        body: '{"alg":"ES512","value":"0blFfWsGPoai2FIV82_JijAQhq3NPCpGdIyKrRBaMpOcCiA_Tme6-_mpsJDbiD0I9BEpdQS1Ylo0MriHZkDEag"}'
        form: {}
        headers:
            Authorization:
                - sanitized
            Content-Type:
                - application/json
        url: https://tlxbprqlwess6y.vault.azure.net/keys/ec521/sign?api-version=7.4
        method: POST
      response:
        body: '{"kid":"https://tlxbprqlwess6y.vault.azure.net/keys/ec521/f8911314314e43bd9f9e9cd0ac1e68fc","value":"AZQG36afcPQzH-SeDuK2pHoU0BvwCgGOUKxmsm5e5KnSJrt1PEWV1VaIV4BDNuKHonEf1NFJsgjUIVcD2p0AJoANAddggDTPIUvAkz12H7W3_UJ6yLmRC9JAyfjarsvWXqMU1FwOOmv3HteJH30hplXX-bSOvcEveulw4TJit3O6k8zP"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 52.42386ms
    - id: 2
      request:
        host: tlxbprqlwess6y.vault.azure.net
        body: ""
        form: {}
        headers:
            Authorization:
                - sanitized
        url: https://tlxbprqlwess6y.vault.azure.net/keys/ec521/?api-version=7.4
        method: GET
      response:
        body: '{"key":{"kid":"https://tlxbprqlwess6y.vault.azure.net/keys/ec521/f8911314314e43bd9f9e9cd0ac1e68fc","kty":"EC","key_ops":["sign","verify"],"crv":"P-521","x":"AIM-vY3FbkAbecC5vtWRtaCz732FMIRo9ui1sdq9-OYwv5yI7tyyiJBo8y_QY5ACYUjIwInemg5wG-B31oyBaRgt","y":"ATYo90aS_JYbEKejk-28ejPFPNc__jz4Fh6ks1vTqoptV3RYoZhDi9g-VzZyjb8A6WNMVGlgtp4bPYBFkVsGydmj"},"attributes":{"enabled":true,"created":1685587028,"updated":1685587028,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90,"exportable":false}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 56.687286ms
