---
version: 2
interactions:
    - id: 0
      request:
        host: tlxbprqlwess6y.vault.azure.net
        body: ""
        form: {}
        headers:
            Authorization:
                - sanitized
            Content-Type:
                - application/json
        url: https://tlxbprqlwess6y.vault.azure.net/keys/ec521/sign?api-version=7.4
        method: POST
      response:
        body: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing a Bearer or PoP token."}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Www-Authenticate:
                - Bearer authorization="https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47", resource="https://vault.azure.net"
        status: 401 Unauthorized
        code: 401
        duration: 41.514212ms
    - id: 1
      request:
        host: tlxbprqlwess6y.vault.azure.net
        body: '{"alg":"ES512","value":"0blFfWsGPoai2FIV82_JijAQhq3NPCpGdIyKrRBaMpOcCiA_Tme6-_mpsJDbiD0I9BEpdQS1Ylo0MriHZkDEag"}'
        form: {}
        headers:
            Authorization:
                - sanitized
            Content-Type:
                - application/json
        url: https://tlxbprqlwess6y.vault.azure.net/keys/ec521/sign?api-version=7.4
        method: POST
      response:
        body: '{"kid":"https://tlxbprqlwess6y.vault.azure.net/keys/ec521/f8911314314e43bd9f9e9cd0ac1e68fc","value":"AM3f9FzSL0moN3sCiQCIaG7cRiXusNO8toviCKPBQMbXSpzxig-HoXuir-6UNvDrvNNMWyjovG30ToqBw2XdhixeASFy396UIRXq5FlBkxTSxc9ar3eQ7Mz_OAlMO4qTGvnJVaXjfX7UbURwJSr91zfn2Im4ByF3SnwCf5H17aD-n-ts"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 49.99127ms
    - id: 2
      request:
        host: tlxbprqlwess6y.vault.azure.net
        body: ""
        form: {}
        headers:
            Authorization:
                - sanitized
        url: https://tlxbprqlwess6y.vault.azure.net/keys/ec521/?api-version=7.4
        method: GET
      response:
        body: '{"error":{"code":"Forbidden"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: Forbidden
        code: 403
        duration: 54.637993ms
    - id: 3
      request:
        host: tlxbprqlwess6y.vault.azure.net
        body: '{"alg":"ES512","digest":"0blFfWsGPoai2FIV82_JijAQhq3NPCpGdIyKrRBaMpOcCiA_Tme6-_mpsJDbiD0I9BEpdQS1Ylo0MriHZkDEag","value":"AM3f9FzSL0moN3sCiQCIaG7cRiXusNO8toviCKPBQMbXSpzxig-HoXuir-6UNvDrvNNMWyjovG30ToqBw2XdhixeASFy396UIRXq5FlBkxTSxc9ar3eQ7Mz_OAlMO4qTGvnJVaXjfX7UbURwJSr91zfn2Im4ByF3SnwCf5H17aD-n-ts"}'
        form: {}
        headers:
            Authorization:
                - sanitized
            Content-Type:
                - application/json
        url: https://tlxbprqlwess6y.vault.azure.net/keys/ec521/verify?api-version=7.4
        method: POST
      response:
        body: '{"value":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 56.018813ms
