---
version: 2
interactions:
    - id: 0
      request:
        host: tlxbprqlwess6y.vault.azure.net
        body: ""
        form: {}
        headers:
            Authorization:
                - sanitized
            Content-Type:
                - application/json
        url: https://tlxbprqlwess6y.vault.azure.net/keys/rsa2048/sign?api-version=7.4
        method: POST
      response:
        body: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing a Bearer or PoP token."}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Www-Authenticate:
                - Bearer authorization="https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47", resource="https://vault.azure.net"
        status: 401 Unauthorized
        code: 401
        duration: 43.55023ms
    - id: 1
      request:
        host: tlxbprqlwess6y.vault.azure.net
        body: '{"alg":"PS256","value":"ltYuKr0-Qt5fUDMPuO_ExVmYNSeAd7IemqCzPB3wehw"}'
        form: {}
        headers:
            Authorization:
                - sanitized
            Content-Type:
                - application/json
        url: https://tlxbprqlwess6y.vault.azure.net/keys/rsa2048/sign?api-version=7.4
        method: POST
      response:
        body: '{"kid":"https://tlxbprqlwess6y.vault.azure.net/keys/rsa2048/2a2225c34b1142289cb1b96adfd9fa63","value":"S7vZgoA_BiGZ4JLY06bhdeJUOOOdm4p1wIo7LoBk43tgzFWkx6Fke0NPAgPgLOxlFyWo3blbR6LR3qWBO4zeo3VruXXMMPTqvjVulXZ_Cj8rWdiiVc-4lo1UWb54WXcGYDCfaUjfq76KgjttmApbasZwH8PVgzjBC_wvCu-_xhBeZa0n-I9BmTZorykg2VOOnkjQeD59aond8754EHKKZTUIuK2USRyjrhJBvxTGO2GgOQx81LWkgGW5rjiMj6JblzKCO8rXlehQ5MHxZ6rw6MSPIl-6_HmFf9FtccUYhQoOxM_fZKu41KHVQQeW5hBhe7yhLC9I3FNKmJffdvSICw"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 53.354083ms
    - id: 2
      request:
        host: tlxbprqlwess6y.vault.azure.net
        body: ""
        form: {}
        headers:
            Authorization:
                - sanitized
        url: https://tlxbprqlwess6y.vault.azure.net/keys/rsa2048/?api-version=7.4
        method: GET
      response:
        body: '{"error":{"code":"Forbidden"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: Forbidden
        code: 403
        duration: 53.144738ms
    - id: 3
      request:
        host: tlxbprqlwess6y.vault.azure.net
        body: '{"alg":"PS256","digest":"ltYuKr0-Qt5fUDMPuO_ExVmYNSeAd7IemqCzPB3wehw","value":"S7vZgoA_BiGZ4JLY06bhdeJUOOOdm4p1wIo7LoBk43tgzFWkx6Fke0NPAgPgLOxlFyWo3blbR6LR3qWBO4zeo3VruXXMMPTqvjVulXZ_Cj8rWdiiVc-4lo1UWb54WXcGYDCfaUjfq76KgjttmApbasZwH8PVgzjBC_wvCu-_xhBeZa0n-I9BmTZorykg2VOOnkjQeD59aond8754EHKKZTUIuK2USRyjrhJBvxTGO2GgOQx81LWkgGW5rjiMj6JblzKCO8rXlehQ5MHxZ6rw6MSPIl-6_HmFf9FtccUYhQoOxM_fZKu41KHVQQeW5hBhe7yhLC9I3FNKmJffdvSICw"}'
        form: {}
        headers:
            Authorization:
                - sanitized
            Content-Type:
                - application/json
        url: https://tlxbprqlwess6y.vault.azure.net/keys/rsa2048/verify?api-version=7.4
        method: POST
      response:
        body: '{"value":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 52.635584ms
