---
version: 2
interactions:
    - id: 0
      request:
        host: tlxbprqlwess6y.vault.azure.net
        body: ""
        form: {}
        headers:
            Authorization:
                - sanitized
            Content-Type:
                - application/json
        url: https://tlxbprqlwess6y.vault.azure.net/keys/rsa2048/sign?api-version=7.4
        method: POST
      response:
        body: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing a Bearer or PoP token."}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Www-Authenticate:
                - Bearer authorization="https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47", resource="https://vault.azure.net"
        status: 401 Unauthorized
        code: 401
        duration: 46.702867ms
    - id: 1
      request:
        host: tlxbprqlwess6y.vault.azure.net
        body: '{"alg":"RS512","value":"0blFfWsGPoai2FIV82_JijAQhq3NPCpGdIyKrRBaMpOcCiA_Tme6-_mpsJDbiD0I9BEpdQS1Ylo0MriHZkDEag"}'
        form: {}
        headers:
            Authorization:
                - sanitized
            Content-Type:
                - application/json
        url: https://tlxbprqlwess6y.vault.azure.net/keys/rsa2048/sign?api-version=7.4
        method: POST
      response:
        body: '{"kid":"https://tlxbprqlwess6y.vault.azure.net/keys/rsa2048/2a2225c34b1142289cb1b96adfd9fa63","value":"hnxBLWxYhYxBXntmss6htIYWCXp4iX7W-40HkiqUNPDb1wyzLNQvTQbY1bYwGIX8TLYKfsyg8Tprz11mppLUujzHBz0qCx7JjB_9_rZcz6hzRU4jp6J0sPpl1McB7JoiBDbbgh-CKIKap1pxux98wWKBEyXNe4IzcX-OkdBU5HlsBxdAaAT3Yp8nV1gN4dDNWeq2qT6io-rz6T074FEP_OxgbthiByyWsjiZGOcAjC-GExAExCMcupG0mmefW2AnK1SIO3dtw-nzd9lSfpeK2MNMv4cM8kevRjNa-5Jd04s88vFZx7TOy_wtxi0P0iwKnrBjDqBuOVN7EP2utOIztw"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 60.232428ms
    - id: 2
      request:
        host: tlxbprqlwess6y.vault.azure.net
        body: ""
        form: {}
        headers:
            Authorization:
                - sanitized
        url: https://tlxbprqlwess6y.vault.azure.net/keys/rsa2048/?api-version=7.4
        method: GET
      response:
        body: '{"error":{"code":"Forbidden"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: Forbidden
        code: 403
        duration: 53.392114ms
    - id: 3
      request:
        host: tlxbprqlwess6y.vault.azure.net
        body: '{"alg":"RS512","digest":"0blFfWsGPoai2FIV82_JijAQhq3NPCpGdIyKrRBaMpOcCiA_Tme6-_mpsJDbiD0I9BEpdQS1Ylo0MriHZkDEag","value":"hnxBLWxYhYxBXntmss6htIYWCXp4iX7W-40HkiqUNPDb1wyzLNQvTQbY1bYwGIX8TLYKfsyg8Tprz11mppLUujzHBz0qCx7JjB_9_rZcz6hzRU4jp6J0sPpl1McB7JoiBDbbgh-CKIKap1pxux98wWKBEyXNe4IzcX-OkdBU5HlsBxdAaAT3Yp8nV1gN4dDNWeq2qT6io-rz6T074FEP_OxgbthiByyWsjiZGOcAjC-GExAExCMcupG0mmefW2AnK1SIO3dtw-nzd9lSfpeK2MNMv4cM8kevRjNa-5Jd04s88vFZx7TOy_wtxi0P0iwKnrBjDqBuOVN7EP2utOIztw"}'
        form: {}
        headers:
            Authorization:
                - sanitized
            Content-Type:
                - application/json
        url: https://tlxbprqlwess6y.vault.azure.net/keys/rsa2048/verify?api-version=7.4
        method: POST
      response:
        body: '{"value":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 54.652385ms
