---
version: 2
interactions:
    - id: 0
      request:
        host: ttyfi3p3a4yqbc.managedhsm.azure.net
        body: ""
        form: {}
        headers:
            Authorization:
                - sanitized
        url: https://ttyfi3p3a4yqbc.managedhsm.azure.net/keys/aes192/?api-version=7.4
        method: GET
      response:
        body: OK
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Www-Authenticate:
                - Bearer authorization="https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47", resource="https://managedhsm.azure.net"
            X-Ms-Build-Version:
                - sanitized
            X-Ms-Server-Latency:
                - sanitized
        status: 401 Unauthorized
        code: 401
        duration: 915.504004ms
    - id: 1
      request:
        host: ttyfi3p3a4yqbc.managedhsm.azure.net
        body: ""
        form: {}
        headers:
            Authorization:
                - sanitized
        url: https://ttyfi3p3a4yqbc.managedhsm.azure.net/keys/aes192/?api-version=7.4
        method: GET
      response:
        body: '{"attributes":{"created":1687479326,"enabled":true,"exportable":false,"recoverableDays":7,"recoveryLevel":"CustomizedRecoverable+Purgeable","updated":1687479326},"key":{"key_ops":["sign","verify","unwrapKey","decrypt","encrypt","wrapKey","deriveKey"],"kid":"https://ttyfi3p3a4yqbc.managedhsm.azure.net/keys/aes192/b0e633561b314999b7b0efe26645488b","kty":"oct-HSM"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Build-Version:
                - sanitized
            X-Ms-Server-Latency:
                - sanitized
        status: 200 OK
        code: 200
        duration: 320.782076ms
    - id: 2
      request:
        host: ttyfi3p3a4yqbc.managedhsm.azure.net
        body: '{"alg":"A192KW","value":"XuzMCMA534jyOTYaJ-rYvw"}'
        form: {}
        headers:
            Authorization:
                - sanitized
            Content-Type:
                - application/json
        url: https://ttyfi3p3a4yqbc.managedhsm.azure.net/keys/aes192/wrapkey?api-version=7.4
        method: POST
      response:
        body: '{"alg":"A192KW","kid":"https://ttyfi3p3a4yqbc.managedhsm.azure.net/keys/aes192/b0e633561b314999b7b0efe26645488b","value":"Ci8QOI76UU7_T_DmzEwUAF31oEAL2p4f"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Server-Latency:
                - sanitized
        status: 200 OK
        code: 200
        duration: 234.237355ms
    - id: 3
      request:
        host: ttyfi3p3a4yqbc.managedhsm.azure.net
        body: '{"alg":"A192KW","value":"Ci8QOI76UU7_T_DmzEwUAF31oEAL2p4f"}'
        form: {}
        headers:
            Authorization:
                - sanitized
            Content-Type:
                - application/json
        url: https://ttyfi3p3a4yqbc.managedhsm.azure.net/keys/aes192/unwrapkey?api-version=7.4
        method: POST
      response:
        body: '{"alg":"A192KW","kid":"https://ttyfi3p3a4yqbc.managedhsm.azure.net/keys/aes192/b0e633561b314999b7b0efe26645488b","value":"XuzMCMA534jyOTYaJ-rYvw"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Server-Latency:
                - sanitized
        status: 200 OK
        code: 200
        duration: 161.985403ms
