---
version: 2
interactions:
    - id: 0
      request:
        host: tlxbprqlwess6y.vault.azure.net
        body: ""
        form: {}
        headers:
            Authorization:
                - sanitized
        url: https://tlxbprqlwess6y.vault.azure.net/keys/missing/?api-version=7.4
        method: GET
      response:
        body: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing a Bearer or PoP token."}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Www-Authenticate:
                - Bearer authorization="https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47", resource="https://vault.azure.net"
        status: 401 Unauthorized
        code: 401
        duration: 46.42586ms
[...]
    - id: 2
      request:
        host: tlxbprqlwess6y.vault.azure.net
        body: '{"alg":"RSA-OAEP","value":"XuzMCMA534jyOTYaJ-rYvw"}'
        form: {}
        headers:
            Authorization:
                - sanitized
            Content-Type:
                - application/json
        url: https://tlxbprqlwess6y.vault.azure.net/keys/missing/wrapkey?api-version=7.4
        method: POST
      response:
        body: '{"error":{"code":"KeyNotFound","message":"A key with (name/id) missing was not found in this key vault. If you recently deleted this key you may be able to recover it using the correct recovery command. For help resolving this issue, please see https://go.microsoft.com/fwlink/?linkid=2125182"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 404 Not Found
        code: 404
        duration: 52.591935ms
