---
version: 2
interactions:
    - id: 0
      request:
        host: tlxbprqlwess6y.vault.azure.net
        body: ""
        form: {}
        headers:
            Authorization:
                - sanitized
        url: https://tlxbprqlwess6y.vault.azure.net/keys/rsa2048/?api-version=7.4
        method: GET
      response:
        body: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing a Bearer or PoP token."}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Www-Authenticate:
                - Bearer authorization="https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47", resource="https://vault.azure.net"
        status: 401 Unauthorized
        code: 401
        duration: 47.042022ms
[...]
    - id: 2
      request:
        host: tlxbprqlwess6y.vault.azure.net
        body: '{"alg":"RSA-OAEP-256","value":"XuzMCMA534jyOTYaJ-rYvw"}'
        form: {}
        headers:
            Authorization:
                - sanitized
            Content-Type:
                - application/json
        url: https://tlxbprqlwess6y.vault.azure.net/keys/rsa2048/wrapkey?api-version=7.4
        method: POST
      response:
        body: '{"kid":"https://tlxbprqlwess6y.vault.azure.net/keys/rsa2048/2a2225c34b1142289cb1b96adfd9fa63","value":"lma6ars4ZCG7Tu-6-cLHXAAa9JLikn9kvY_5xnG2cJ2zDNinJhtJB3qwUw-q0ReS8uI_YHK1pMtmnnqGIQwXp6FBSUUKSyv00iNgBXKjZNtf9XNzFzdEzFwcuwRS7PFcF1YKT6jNkReVWsABFMhl32nEpi0LaagJgEZjQ5o4OOYG9Irx2Vqgnrm_64LSqUAsq9RflQGdQw7mpQAZdpwAk-2iRxgB4kFaGGgiL8VmvyTArbtpoaumiLSziMZZLHbsAOz7i2SnpHoonNN246XBJD_w3lTcCVSoPbt-Y0-TebKgf697fP77ovW5znO5Rrg7cnRnwphA38fDCqbA3IihBw"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 47.416698ms
    - id: 3
      request:
        host: tlxbprqlwess6y.vault.azure.net
        body: '{"alg":"RSA-OAEP-256","value":"lma6ars4ZCG7Tu-6-cLHXAAa9JLikn9kvY_5xnG2cJ2zDNinJhtJB3qwUw-q0ReS8uI_YHK1pMtmnnqGIQwXp6FBSUUKSyv00iNgBXKjZNtf9XNzFzdEzFwcuwRS7PFcF1YKT6jNkReVWsABFMhl32nEpi0LaagJgEZjQ5o4OOYG9Irx2Vqgnrm_64LSqUAsq9RflQGdQw7mpQAZdpwAk-2iRxgB4kFaGGgiL8VmvyTArbtpoaumiLSziMZZLHbsAOz7i2SnpHoonNN246XBJD_w3lTcCVSoPbt-Y0-TebKgf697fP77ovW5znO5Rrg7cnRnwphA38fDCqbA3IihBw"}'
        form: {}
        headers:
            Authorization:
                - sanitized
            Content-Type:
                - application/json
        url: https://tlxbprqlwess6y.vault.azure.net/keys/rsa2048/unwrapkey?api-version=7.4
        method: POST
      response:
        body: '{"kid":"https://tlxbprqlwess6y.vault.azure.net/keys/rsa2048/2a2225c34b1142289cb1b96adfd9fa63","value":"XuzMCMA534jyOTYaJ-rYvw"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 55.486775ms
