---
version: 2
interactions:
    - id: 0
      request:
        host: tlxbprqlwess6y.vault.azure.net
        body: ""
        form: {}
        headers:
            Authorization:
                - sanitized
        url: https://tlxbprqlwess6y.vault.azure.net/keys/rsa2048/?api-version=7.4
        method: GET
      response:
        body: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing a Bearer or PoP token."}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Www-Authenticate:
                - Bearer authorization="https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47", resource="https://vault.azure.net"
        status: 401 Unauthorized
        code: 401
        duration: 43.513828ms
[...]
    - id: 2
      request:
        host: tlxbprqlwess6y.vault.azure.net
        body: '{"alg":"RSA-OAEP","value":"XuzMCMA534jyOTYaJ-rYvw"}'
        form: {}
        headers:
            Authorization:
                - sanitized
            Content-Type:
                - application/json
        url: https://tlxbprqlwess6y.vault.azure.net/keys/rsa2048/wrapkey?api-version=7.4
        method: POST
      response:
        body: '{"kid":"https://tlxbprqlwess6y.vault.azure.net/keys/rsa2048/2a2225c34b1142289cb1b96adfd9fa63","value":"Wd6bjENV6AsLpajLRq5nnrvhBQC02sGj5N0SAdJKoI6zH_dIITiNjUbUDoWTLiAVaMG5ch9KVrKU0ju3bWLHjhLPwAzohfh79ZSW3wOtVqzG2JV3xFX3JQLwAnS49JZNnGpkA6H0-Z12ALiC9vLkqIZohWB6uSHpnBXB7gedkhUJ47jV2vAWBh2MYdohSk-FpS1UqaGDbkXPuEOccY_zu2BjrazdvS4ZbO7AaT4zKhDBcRjR0RO6MK0o7ozH6pVnqdR-jEFWTygiJ7kkORIB2JJa3_-SQo05ciYmrsbOaXm3S75jFsNorg--p6AUs8Czkqn3Wm443oVK8Oam2uiKcw"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 49.326449ms
    - id: 3
      request:
        host: tlxbprqlwess6y.vault.azure.net
        body: '{"alg":"RSA-OAEP","value":"Wd6bjENV6AsLpajLRq5nnrvhBQC02sGj5N0SAdJKoI6zH_dIITiNjUbUDoWTLiAVaMG5ch9KVrKU0ju3bWLHjhLPwAzohfh79ZSW3wOtVqzG2JV3xFX3JQLwAnS49JZNnGpkA6H0-Z12ALiC9vLkqIZohWB6uSHpnBXB7gedkhUJ47jV2vAWBh2MYdohSk-FpS1UqaGDbkXPuEOccY_zu2BjrazdvS4ZbO7AaT4zKhDBcRjR0RO6MK0o7ozH6pVnqdR-jEFWTygiJ7kkORIB2JJa3_-SQo05ciYmrsbOaXm3S75jFsNorg--p6AUs8Czkqn3Wm443oVK8Oam2uiKcw"}'
        form: {}
        headers:
            Authorization:
                - sanitized
            Content-Type:
                - application/json
        url: https://tlxbprqlwess6y.vault.azure.net/keys/rsa2048/unwrapkey?api-version=7.4
        method: POST
      response:
        body: '{"kid":"https://tlxbprqlwess6y.vault.azure.net/keys/rsa2048/2a2225c34b1142289cb1b96adfd9fa63","value":"XuzMCMA534jyOTYaJ-rYvw"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 55.61974ms
