---
version: 2
interactions:
    - id: 0
      request:
        host: tlxbprqlwess6y.vault.azure.net
        body: ""
        form: {}
        headers:
            Authorization:
                - sanitized
        url: https://tlxbprqlwess6y.vault.azure.net/keys/rsa2048/?api-version=7.4
        method: GET
      response:
        body: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing a Bearer or PoP token."}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Www-Authenticate:
                - Bearer authorization="https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47", resource="https://vault.azure.net"
        status: 401 Unauthorized
        code: 401
        duration: 41.937464ms
[...]
    - id: 2
      request:
        host: tlxbprqlwess6y.vault.azure.net
        body: '{"alg":"RSA1_5","value":"XuzMCMA534jyOTYaJ-rYvw"}'
        form: {}
        headers:
            Authorization:
                - sanitized
            Content-Type:
                - application/json
        url: https://tlxbprqlwess6y.vault.azure.net/keys/rsa2048/wrapkey?api-version=7.4
        method: POST
      response:
        body: '{"kid":"https://tlxbprqlwess6y.vault.azure.net/keys/rsa2048/2a2225c34b1142289cb1b96adfd9fa63","value":"HLy73RH9E_bI7K7iRO1s-hQNMyJLvjYRyoemXuYQlh39yi0v70PIysa_ft_wLIci6NNqQcjOV9HPtChMq_z4_AZtZsZC3RpqpCNg9SWMlDH5P0YKC6lwrIAri8ks36ByXDRR3AsF9hvARoODaLrYQ57VePpxG82FHlCpLuRDxxo1TRP5zJ9aF6g55R8gB-_ZA580OUSJeaqIYhn2LIkjmnEUYl3_3ulPoeuf0WEsD8TMpF83pjiz-YNF2AkYZyvn_zBYqGlO01DY3iLMZLtmnoh4DuSBpdmOJF5vm6imVIajD3VDg824Xi65SVdXYlnu_fGWw7lV2DpB__WwAipz6g"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 64.619688ms
    - id: 3
      request:
        host: tlxbprqlwess6y.vault.azure.net
        body: '{"alg":"RSA1_5","value":"HLy73RH9E_bI7K7iRO1s-hQNMyJLvjYRyoemXuYQlh39yi0v70PIysa_ft_wLIci6NNqQcjOV9HPtChMq_z4_AZtZsZC3RpqpCNg9SWMlDH5P0YKC6lwrIAri8ks36ByXDRR3AsF9hvARoODaLrYQ57VePpxG82FHlCpLuRDxxo1TRP5zJ9aF6g55R8gB-_ZA580OUSJeaqIYhn2LIkjmnEUYl3_3ulPoeuf0WEsD8TMpF83pjiz-YNF2AkYZyvn_zBYqGlO01DY3iLMZLtmnoh4DuSBpdmOJF5vm6imVIajD3VDg824Xi65SVdXYlnu_fGWw7lV2DpB__WwAipz6g"}'
        form: {}
        headers:
            Authorization:
                - sanitized
            Content-Type:
                - application/json
        url: https://tlxbprqlwess6y.vault.azure.net/keys/rsa2048/unwrapkey?api-version=7.4
        method: POST
      response:
        body: '{"kid":"https://tlxbprqlwess6y.vault.azure.net/keys/rsa2048/2a2225c34b1142289cb1b96adfd9fa63","value":"XuzMCMA534jyOTYaJ-rYvw"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 63.169232ms
