---
version: 2
interactions:
    - id: 0
      request:
        host: ttyfi3p3a4yqbc.managedhsm.azure.net
        body: ""
        form: {}
        headers:
            Authorization:
                - sanitized
        url: https://ttyfi3p3a4yqbc.managedhsm.azure.net/keys/aes192/?api-version=7.4
        method: GET
      response:
        body: OK
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Www-Authenticate:
                - Bearer authorization="https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47", resource="https://managedhsm.azure.net"
            X-Ms-Build-Version:
                - sanitized
            X-Ms-Server-Latency:
                - sanitized
        status: 401 Unauthorized
        code: 401
        duration: 894.103701ms
    - id: 1
      request:
        host: ttyfi3p3a4yqbc.managedhsm.azure.net
        body: ""
        form: {}
        headers:
            Authorization:
                - sanitized
        url: https://ttyfi3p3a4yqbc.managedhsm.azure.net/keys/aes192/?api-version=7.4
        method: GET
      response:
        body: '{"attributes":{"created":1687460020,"enabled":true,"exportable":false,"recoverableDays":7,"recoveryLevel":"CustomizedRecoverable+Purgeable","updated":1687460020},"key":{"key_ops":["sign","verify","unwrapKey","decrypt","encrypt","wrapKey","deriveKey"],"kid":"https://ttyfi3p3a4yqbc.managedhsm.azure.net/keys/aes192/32348aa4921d04a639780788071b09db","kty":"oct-HSM"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Build-Version:
                - sanitized
            X-Ms-Server-Latency:
                - sanitized
        status: 200 OK
        code: 200
        duration: 158.927056ms
    - id: 2
      request:
        host: ttyfi3p3a4yqbc.managedhsm.azure.net
        body: '{"alg":"A192GCM","value":"cGxhaW50ZXh0"}'
        form: {}
        headers:
            Authorization:
                - sanitized
            Content-Type:
                - application/json
        url: https://ttyfi3p3a4yqbc.managedhsm.azure.net/keys/aes192/encrypt?api-version=7.4
        method: POST
      response:
        body: '{"alg":"A192GCM","iv":"ismQNpJjsqCcBH8f","kid":"https://ttyfi3p3a4yqbc.managedhsm.azure.net/keys/aes192/32348aa4921d04a639780788071b09db","tag":"3YBKJeZSRDXLbv3FzELlXQ","value":"Gb7tQwDppET5"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Server-Latency:
                - sanitized
        status: 200 OK
        code: 200
        duration: 474.552564ms
    - id: 3
      request:
        host: ttyfi3p3a4yqbc.managedhsm.azure.net
        body: '{"alg":"A192GCM","iv":"ismQNpJjsqCcBH8f","tag":"3YBKJeZSRDXLbv3FzELlXQ","value":"Gb7tQwDppET5"}'
        form: {}
        headers:
            Authorization:
                - sanitized
            Content-Type:
                - application/json
        url: https://ttyfi3p3a4yqbc.managedhsm.azure.net/keys/aes192/decrypt?api-version=7.4
        method: POST
      response:
        body: '{"alg":"A192GCM","kid":"https://ttyfi3p3a4yqbc.managedhsm.azure.net/keys/aes192/32348aa4921d04a639780788071b09db","value":"cGxhaW50ZXh0"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Server-Latency:
                - sanitized
        status: 200 OK
        code: 200
        duration: 167.727301ms
