---
version: 2
interactions:
    - id: 0
      request:
        host: ttyfi3p3a4yqbc.managedhsm.azure.net
        body: ""
        form: {}
        headers:
            Authorization:
                - sanitized
        url: https://ttyfi3p3a4yqbc.managedhsm.azure.net/keys/aes256/?api-version=7.4
        method: GET
      response:
        body: OK
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Www-Authenticate:
                - Bearer authorization="https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47", resource="https://managedhsm.azure.net"
            X-Ms-Build-Version:
                - sanitized
            X-Ms-Server-Latency:
                - sanitized
        status: 401 Unauthorized
        code: 401
        duration: 897.526436ms
    - id: 1
      request:
        host: ttyfi3p3a4yqbc.managedhsm.azure.net
        body: ""
        form: {}
        headers:
            Authorization:
                - sanitized
        url: https://ttyfi3p3a4yqbc.managedhsm.azure.net/keys/aes256/?api-version=7.4
        method: GET
      response:
        body: '{"attributes":{"created":1687460020,"enabled":true,"exportable":false,"recoverableDays":7,"recoveryLevel":"CustomizedRecoverable+Purgeable","updated":1687460020},"key":{"key_ops":["sign","verify","unwrapKey","decrypt","encrypt","wrapKey","deriveKey"],"kid":"https://ttyfi3p3a4yqbc.managedhsm.azure.net/keys/aes256/9dd1b6dc0d9348fe0f33959c44603b70","kty":"oct-HSM"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Build-Version:
                - sanitized
            X-Ms-Server-Latency:
                - sanitized
        status: 200 OK
        code: 200
        duration: 311.843141ms
    - id: 2
      request:
        host: ttyfi3p3a4yqbc.managedhsm.azure.net
        body: '{"alg":"A256CBC","iv":"AAECAwQFBgcICQoLDA0ODw","value":"YWJjZGVmZ2hpamtsbW5vcA"}'
        form: {}
        headers:
            Authorization:
                - sanitized
            Content-Type:
                - application/json
        url: https://ttyfi3p3a4yqbc.managedhsm.azure.net/keys/aes256/encrypt?api-version=7.4
        method: POST
      response:
        body: '{"alg":"A256CBC","iv":"AAECAwQFBgcICQoLDA0ODw","kid":"https://ttyfi3p3a4yqbc.managedhsm.azure.net/keys/aes256/9dd1b6dc0d9348fe0f33959c44603b70","value":"6u7r7kq7DazI8CuP6UJ3rA"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Server-Latency:
                - sanitized
        status: 200 OK
        code: 200
        duration: 349.473181ms
    - id: 3
      request:
        host: ttyfi3p3a4yqbc.managedhsm.azure.net
        body: '{"alg":"A256CBC","iv":"AAECAwQFBgcICQoLDA0ODw","value":"6u7r7kq7DazI8CuP6UJ3rA"}'
        form: {}
        headers:
            Authorization:
                - sanitized
            Content-Type:
                - application/json
        url: https://ttyfi3p3a4yqbc.managedhsm.azure.net/keys/aes256/decrypt?api-version=7.4
        method: POST
      response:
        body: '{"alg":"A256CBC","kid":"https://ttyfi3p3a4yqbc.managedhsm.azure.net/keys/aes256/9dd1b6dc0d9348fe0f33959c44603b70","value":"YWJjZGVmZ2hpamtsbW5vcA"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Server-Latency:
                - sanitized
        status: 200 OK
        code: 200
        duration: 359.277827ms
