---
version: 2
interactions:
    - id: 0
      request:
        host: ttyfi3p3a4yqbc.managedhsm.azure.net
        body: ""
        form: {}
        headers:
            Authorization:
                - sanitized
        url: https://ttyfi3p3a4yqbc.managedhsm.azure.net/keys/missing/?api-version=7.4
        method: GET
      response:
        body: OK
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Www-Authenticate:
                - Bearer authorization="https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47", resource="https://managedhsm.azure.net"
            X-Ms-Build-Version:
                - sanitized
            X-Ms-Server-Latency:
                - sanitized
        status: 401 Unauthorized
        code: 401
        duration: 886.84704ms
    - id: 1
      request:
        host: ttyfi3p3a4yqbc.managedhsm.azure.net
        body: ""
        form: {}
        headers:
            Authorization:
                - sanitized
        url: https://ttyfi3p3a4yqbc.managedhsm.azure.net/keys/missing/?api-version=7.4
        method: GET
      response:
        body: '{"error":{"code":"KeyNotFound","message":"Key not found: https://ttyfi3p3a4yqbc.managedhsm.azure.net/keys/missing (Activity ID: 5248bda8-1130-11ee-80be-6045bd0ee822)"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Build-Version:
                - sanitized
            X-Ms-Server-Latency:
                - sanitized
        status: 404 Not Found
        code: 404
        duration: 194.697938ms
    - id: 2
      request:
        host: ttyfi3p3a4yqbc.managedhsm.azure.net
        body: '{"alg":"A128CBC","iv":"AAECAwQFBgcICQoLDA0ODw","value":"YWJjZGVmZ2hpamtsbW5vcA"}'
        form: {}
        headers:
            Authorization:
                - sanitized
            Content-Type:
                - application/json
        url: https://ttyfi3p3a4yqbc.managedhsm.azure.net/keys/missing/encrypt?api-version=7.4
        method: POST
      response:
        body: '{"error":{"code":"KeyNotFound","message":"Key not found: https://ttyfi3p3a4yqbc.managedhsm.azure.net/keys/missing (Activity ID: 529b8696-1130-11ee-8fdb-6045bd0ee822)"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Server-Latency:
                - sanitized
        status: 404 Not Found
        code: 404
        duration: 690.897058ms
