---
version: 2
interactions:
    - id: 0
      request:
        host: ttyfi3p3a4yqbc.managedhsm.azure.net
        body: ""
        form: {}
        headers:
            Authorization:
                - sanitized
        url: https://ttyfi3p3a4yqbc.managedhsm.azure.net/keys/aes128/?api-version=7.4
        method: GET
      response:
        body: OK
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Www-Authenticate:
                - Bearer authorization="https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47", resource="https://managedhsm.azure.net"
            X-Ms-Build-Version:
                - sanitized
            X-Ms-Server-Latency:
                - sanitized
        status: 401 Unauthorized
        code: 401
        duration: 870.118834ms
    - id: 1
      request:
        host: ttyfi3p3a4yqbc.managedhsm.azure.net
        body: ""
        form: {}
        headers:
            Authorization:
                - sanitized
        url: https://ttyfi3p3a4yqbc.managedhsm.azure.net/keys/aes128/?api-version=7.4
        method: GET
      response:
        body: '{"attributes":{"created":1687479325,"enabled":true,"exportable":false,"recoverableDays":7,"recoveryLevel":"CustomizedRecoverable+Purgeable","updated":1687479325},"key":{"key_ops":["sign","verify","unwrapKey","decrypt","encrypt","wrapKey","deriveKey"],"kid":"https://ttyfi3p3a4yqbc.managedhsm.azure.net/keys/aes128/572731ecb30e475b107f37030023f303","kty":"oct-HSM"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Build-Version:
                - sanitized
            X-Ms-Server-Latency:
                - sanitized
        status: 200 OK
        code: 200
        duration: 161.062535ms
    - id: 2
      request:
        host: ttyfi3p3a4yqbc.managedhsm.azure.net
        body: '{"alg":"A128CBCPAD","iv":"AAECAwQFBgcICQoLDA0ODw","value":"YWJjZGVmZ2hpamtsbW5vcA"}'
        form: {}
        headers:
            Authorization:
                - sanitized
            Content-Type:
                - application/json
        url: https://ttyfi3p3a4yqbc.managedhsm.azure.net/keys/aes128/encrypt?api-version=7.4
        method: POST
      response:
        body: '{"alg":"A128CBCPAD","iv":"AAECAwQFBgcICQoLDA0ODw","kid":"https://ttyfi3p3a4yqbc.managedhsm.azure.net/keys/aes128/572731ecb30e475b107f37030023f303","value":"KHMsayXfAKlZMzmv3NCX9GkVCOHpOU9Vn219lk2M2j8"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Server-Latency:
                - sanitized
        status: 200 OK
        code: 200
        duration: 164.581451ms
    - id: 3
      request:
        host: ttyfi3p3a4yqbc.managedhsm.azure.net
        body: '{"alg":"A128CBCPAD","iv":"AAECAwQFBgcICQoLDA0ODw","value":"KHMsayXfAKlZMzmv3NCX9GkVCOHpOU9Vn219lk2M2j8"}'
        form: {}
        headers:
            Authorization:
                - sanitized
            Content-Type:
                - application/json
        url: https://ttyfi3p3a4yqbc.managedhsm.azure.net/keys/aes128/decrypt?api-version=7.4
        method: POST
      response:
        body: '{"alg":"A128CBCPAD","kid":"https://ttyfi3p3a4yqbc.managedhsm.azure.net/keys/aes128/572731ecb30e475b107f37030023f303","value":"YWJjZGVmZ2hpamtsbW5vcA"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Server-Latency:
                - sanitized
        status: 200 OK
        code: 200
        duration: 166.735587ms
